/* IMPORTING THE FONT */
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    outline: none;
}

/* GENERAL STYLE */
html {
    font-size: 1.3rem;
    font-family: "Teachers", sans-serif;
    background-color: #FFF2D7;
} 

body {
    min-height: 100vh;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* HEADER */
#header {
    padding:1.5vh 0;
    color: #000;
    background-color: #FFE0B5;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

#title {
    letter-spacing: 1.2px;
}

#title:hover {
    cursor: pointer;
}

#header ul {
    list-style: none;

    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

#header ul li {
    font-size: 1.2rem;
    position: relative;
    padding: 0.25rem 0;
}

#header ul li:hover {
    cursor: pointer;
}

#header ul li::before {
    content: '';
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #D8AE7E;
    transition: top 0.2s ease-in-out;
}

#header ul li:hover::before {
    top: 90%;
}

#header ul li.active::before {
    top: 90%;
}

/* FOOTER */
#footer {
    background-color: #FFE0B5;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
    height: 15vh;
}

#footer ul {
    list-style: none;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
}

#footer ul li {
    transition: opacity 0.2s ease-in-out;
}

#footer ul li:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* MAIN */
#main {
    padding: 2rem 0;
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-out;
}